@using Microsoft.EntityFrameworkCore
@using Toast.Core.Commands
@using Toast.Server.Data
@inject CommandService commandService;
@using Toast.Server.Components.Shared.MyTable;
@using Toast.Server.Data.Models
@inject IDbContextFactory<ApplicationDbContext> dbFactory


<div class="form-control">
  <h6>AgentResultDB List</h6>
  <div class="mb-3">
    <div class="form-row">
      <div class="form-group col-md-2">
        <button class="btn btn-outline-info btn-sm" @onclick="@(async () => LoadData())" title="Обновить" disabled="@deleting"><i class="bi bi-arrow-clockwise"></i></button>
      </div>
      <div class="form-group col-md-6">
        <textarea @bind=@filter rows="1" @bind:event="oninput" @onchange="@ApplyFilter" />
      </div>
    </div>
    <TableMy Items="results" Compact Border OverridePageItemsAsync="@GetPageItems">
      <TableHeader>
        <th>Del</th>
        <th>@(nameof( AgentResultDB.Id ))</th>
        <th>@(nameof( AgentResultDB.AgentId ))</th>
        <th>@(nameof( AgentResultDB.Received ))</th>
        <th>@(nameof( AgentResultDB.Results ))</th>
      </TableHeader>
      <TableRow>
        @{
          var current = context;
        }
        <td>
          <button class="btn btn-outline-danger btn-sm"
                  @onclick="@(() => context.AskDelete = !context.AskDelete)"
                  title="Удалить запись"
                  disabled="@deleting">
            <i class="bi bi-trash"></i>
          </button>
        </td>
        <td style="max-width:30rem">@current.AgentResult.Id</td>
        <td style="max-width:30rem">@current.AgentResult.AgentId</td>
        <td style="max-width:30rem">@current.AgentResult.Received?.ToString( "s" )</td>
        <td style="max-width:30rem"><a title="Просмотр всех результатов этого ответа">@current.ResultsInfo</a></td>
      </TableRow>
      <AfterRow>
        @{
          var current = context;
        }
        @if ( context.AskDelete )
        {
          <tr>
            <td colspan="5">
              <button class="btn btn-outline-danger btn-sm"
                      @onclick="@(async () => await DeleteRow( current ))"
                      title="Удалить запись?"
                      disabled="@deleting">
                <i class="bi bi-trash">Удалить запись?</i>
              </button>
            </td>
          </tr>
        }
      </AfterRow>
    </TableMy>
  </div>

  @if ( alert != null )
  {
    <textarea class="form-control text-bg-warning" rows="@alertRows" @bind="@alert"></textarea>
  }

</div>

@code {

  string filter = string.Empty;
  CancellationTokenSource filterApplyCTS = new();
  AgentResultUI[] results = [];
  bool deleting;
  string? alert = null;
  int alertRows = 3;
  // int pagerShowRows = 5;
  // int pagerStartPageIndex = 0;

  protected async override Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    await LoadData();
  }

  async Task LoadData( CancellationToken token = default )
  {
    results = [];
    alert = null;
    StateHasChanged();

    try
    {
      results = await LoadItemsForPageNumber( /* pagerStartPageIndex + 1 */ token );
    }
    catch ( Exception ex )
    {
      alert = $"Ошибка чтения: {ex.Message}|{ex.InnerException?.Message}|{ex.InnerException?.InnerException?.Message}";
    }
  }

  async Task<AgentResultUI[]> LoadItemsForPageNumber(/*  int pageNumber, */ CancellationToken token = default )
  {
    using var dbContext = await dbFactory.CreateDbContextAsync( token );

    // pagerStartPageIndex = pageNumber - 1;
    var lowerFilter = filter.ToLower();

    IQueryable<AgentResultDB> query = dbContext.AgentResultDB;

    if ( !string.IsNullOrEmpty( lowerFilter ) )
      query = query.Include( ar => ar.Results )
        .Where( ar => ar.AgentId.Contains( lowerFilter )
          || ar.Results.Any( r => r.Message == null || r.Message.Contains( lowerFilter )
          || ar.Received == null || EF.Functions.Like( ar.Received.Value.ToString(), $"%{lowerFilter}%" ) )
        );
    query = query.OrderByDescending( ar => ar.Received );
    if ( string.IsNullOrEmpty( lowerFilter ) )
      query = query.Include( ar => ar.Results );

    return ( await query.ToListAsync( token ) )
      .Select( r => new AgentResultUI( r ) )
      .Where( r => string.IsNullOrEmpty( filter ) || r.ReceivedStr.Contains( filter, StringComparison.InvariantCultureIgnoreCase ) )
      .ToArray();
  }

  async Task DeleteRow( AgentResultUI resultUI )
  {
    resultUI.AskDelete = false;
    deleting = true;
    alert = null;
    StateHasChanged();
    try
    {
      using var dbContext = await dbFactory.CreateDbContextAsync();
      var resToDelete = await dbContext.AgentResultDB.FindAsync( resultUI.AgentResult.Id );
      if ( resToDelete != null )
      {
        dbContext.AgentResultDB.Remove( resToDelete );
        await dbContext.SaveChangesAsync();
      }
      await LoadData();
    }
    catch ( Exception ex )
    {
      alert = $"Ошибка удаления: {ex.Message}|{ex.InnerException?.Message}|{ex.InnerException?.InnerException?.Message}";
    }
    finally
    {
      deleting = false;
    }
  }

  async Task<AgentResultUI[]> GetPageItems( int pageNumber, AgentResultUI[] currentItems )
  {
    //return await LoadItemsForPageNumber( pageNumber );
    return await Task.FromResult( currentItems );
  }

  Task ApplyFilter()
  {
    filterApplyCTS.Cancel();
    filterApplyCTS = new();
    return Task.Run( async () =>
    {
      try
      {
        await Task.Delay( 3000, filterApplyCTS.Token );

        await LoadData( filterApplyCTS.Token );
      }
      catch ( OperationCanceledException )
      { }
    }, filterApplyCTS.Token );
  }

  class AgentResultUI
  {
    public readonly AgentResultDB AgentResult;
    public readonly IReadOnlyList<CommandResult> Results;
    public readonly string ResultsInfo;
    public readonly string ReceivedStr;
    public bool ResultsShown;
    public bool AskDelete;
    public AgentResultUI( AgentResultDB agentResultDB )
    {
      this.AgentResult = agentResultDB;
      Results = agentResultDB.Results;
      ReceivedStr = agentResultDB.Received?.ToString( "s" ) ?? string.Empty;
      ResultsInfo = $"({Results.Count}) " + TrimLen( string.Join( ", ", Results.Select( r => $"[{( r.Success ? "!" : "#" )}, {TrimLen( r.Message, 30 )}]" ) ), 200 );
    }

    static string TrimLen( string? str, int len ) => str != null && str.Length > len ? $"{str[..len]}.." : ( str ?? string.Empty );
  }
}
