@page "/commander"
@using Toast.Server.Components.Pages.Commands
@using Toast.Server.Components.Shared.TabControl

@using Microsoft.AspNetCore.Authorization
@using Toast.Server.Data
@using Toast.Server.Data.Models

@attribute [Authorize]

@inject CommandService commandService;

<PageTitle>Commander</PageTitle>

<h3>Commander</h3>

<AuthorizeView>

  <TabControl ActiveTabOnStart="@commandService.Current.Commander_SelectedTab" OnActiveTabChanged="@OnActiveTabChanged">
    <Tab Name="@PageComponents.DBTables" Title="DBTables">
      <DBTables GetRendererType="@GetRendererType" />
    </Tab>
    <Tab Name="@PageComponents.SendCommands" Hint="Выполнение команд на клиентах">
      <SendCommands />
    </Tab>
@*     <Tab Name="@PageComponents.ChangeSettings">
      Test 2
    </Tab> *@
  </TabControl>

</AuthorizeView>

@code {
  enum PageComponents
  {
    SendCommands,
    DBTables,
    // ChangeSettings
  }

  protected async override Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    if ( commandService.Current.Commander_SelectedTab == null )
      commandService.Current.Commander_SelectedTab = PageComponents.SendCommands;
  }

  async Task OnActiveTabChanged(object name)
  {
    commandService.Current.Commander_SelectedTab = ( PageComponents ) name;

    await Task.CompletedTask;
  }

  Type? GetRendererType( Microsoft.EntityFrameworkCore.Metadata.IEntityType type )
  {
    if ( type.ClrType == typeof( AgentResultDB ) )
      return typeof( AgentResultDBList );
    if ( type.ClrType == typeof( AgentCommandFor ) )
      return typeof( AgentCommandForList );
    return null;
  }

}
