@page "/commander"
@using Toast.Server.Components.Shared.TabControl

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Commander</PageTitle>

<h3>Commander</h3>

<AuthorizeView>

  <TabControl ActiveTabOnStart="@selectedComponent" OnActiveTabChanged="@OnActiveTabChanged">
    <Tab Name="@PageComponents.Test1" Title="DBTables">
      <DBTables />
    </Tab>
    <Tab Name="@PageComponents.SendCommands" Hint="Выполнение команд на клиентах">
      <SendCommands />
    </Tab>
    <Tab Name="@PageComponents.Test2">
      Test 2
    </Tab>
  </TabControl>

</AuthorizeView>

@code {
  enum PageComponents
  {
    SendCommands,
    Test1,
    Test2
  }
  PageComponents selectedComponent = PageComponents.SendCommands;

  async Task OnActiveTabChanged(object name)
  {
    selectedComponent = ( PageComponents ) name;

    await Task.CompletedTask;
  }

}
