@page "/commander"
@using Toast.Server.Components.Pages.Commands
@using Toast.Server.Components.Shared.TabControl

@using Microsoft.AspNetCore.Authorization
@using Toast.Server.Data.Models

@attribute [Authorize]

<PageTitle>Commander</PageTitle>

<h3>Commander</h3>

<AuthorizeView>

  <TabControl ActiveTabOnStart="@selectedComponent" OnActiveTabChanged="@OnActiveTabChanged">
    <Tab Name="@PageComponents.Test1" Title="DBTables">
      <DBTables GetRendererType="@GetRendererType" />
    </Tab>
    <Tab Name="@PageComponents.SendCommands" Hint="Выполнение команд на клиентах">
      <SendCommands />
    </Tab>
    <Tab Name="@PageComponents.Test2">
      Test 2
    </Tab>
  </TabControl>

</AuthorizeView>

@code {
  enum PageComponents
  {
    SendCommands,
    Test1,
    Test2
  }
  PageComponents selectedComponent = PageComponents.SendCommands;

  async Task OnActiveTabChanged(object name)
  {
    selectedComponent = ( PageComponents ) name;

    await Task.CompletedTask;
  }

  Type? GetRendererType( Microsoft.EntityFrameworkCore.Metadata.IEntityType type )
  {
    if ( type.ClrType == typeof( AgentResultDB ) )
      return typeof( AgentResultDBList );
    if ( type.ClrType == typeof( AgentCommandFor ) )
      return typeof( AgentCommandForList );
    return null;
  }

}
