@using Microsoft.EntityFrameworkCore
@using Toast.Server.Api
@using Toast.Server.Data
@using Toast.Server.Components.Shared.MyTable;
@inject IDbContextFactory<ApplicationDbContext> dbFactory
@inject CommandService commandService;

<div class="card">
  <div class="card-title">
    DBTables
  </div>
  <div class="card-body">
    <div class="form-control">
      <div class="mb-3">
        <textarea class="form-control" rows="3">@typeListInfo</textarea>
      </div>
      <div class="mb-3">
        <label for="type" class="form-label">Selected type:</label>
        <select id="type" class="form-select" aria-label="Default select example" @onchange=@SelectedTypeChanged>
          @foreach ( var _type in types )
          {
            var type = _type;
            <option value="@type.ClrType.FullName" selected="@(type == selectedType?.Type)">
              @($"{type.Name} (Flds:{type.GetProperties().Count()})")
            </option>
          }
        </select>
      </div>
      @if ( selectedType != null )
      {
        @if ( selectedType.ComponentType != null )
        {
          <div class="dynamic-content-area mt-4 p-3 bg-light">
            <!-- МАГИЯ БЛАЗОРА: Рендерит любой неизвестный компонент по его типу -->
            <DynamicComponent Type="@selectedType.ComponentType" />
          </div>
        }
        <div class="mb-3">

          <div class="input-group input-group-sm mb-2">
            <div class="input-group-prepend">
              <button class="btn btn-outline-info" @onclick="@LoadData" title="Обновить"><i class="bi bi-arrow-clockwise"></i></button>
            </div>
            <div class="input-group-prepend">
              <span class="input-group-text" id="">Records: @selectedType.Rows.Length.ToString("#,0")</span>
            </div>
          </div>

          <TableMy TItem="object" Items="selectedType.Rows" Compact Border>
            <TableHeader>
              <th>Del</th>
              @foreach ( var propName in selectedType.GetPropNames() )
              {
                <th>@propName</th>
              }
            </TableHeader>
            <TableRow>
              @{
                var current = context;
              }
              <td>
                <button class="btn btn-outline-danger btn-sm"
                        @onclick="@(() => selectedType.DeletingRow = selectedType.DeletingRow == null ? current : null)"
                        title="Удалить запись"
                        disabled="@selectedType.Deleting">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
              @foreach ( var propName in selectedType.GetPropNames() )
              {
                var text = current.GetType().GetProperty( propName )?.GetValue( current ).FormatValue();
                <td style="max-width:30rem">@text</td>
              }
            </TableRow>
            <AfterRow>
              @{
                var current = context;
              }
              @if ( context == selectedType.DeletingRow )
              {
                <tr>
                  <td colspan="5">
                    <button class="btn btn-outline-danger btn-sm"
                            @onclick="@(async () => await DeleteRow( current ))"
                            title="Удалить запись?"
                            disabled="@selectedType.Deleting">
                      <i class="bi bi-trash">Удалить запись?</i>
                    </button>
                  </td>
                </tr>
              }
            </AfterRow>
          </TableMy>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input small" id="metadataPropertiesShow" @bind="@metadataPropertiesShow">
          <label class="form-check-label small" for="metadataPropertiesShow" @onclick=@(async () => metadataPropertiesShow = !metadataPropertiesShow)>Show Metadata Properties</label>
        </div>
      }
      @if ( metadataPropertiesShow && selectedType != null )
      {
        <div class="mb-3">
          <TableMy TItem="Microsoft.EntityFrameworkCore.Metadata.IProperty" Items="selectedType.Properties" Compact Border>
            <TableHeader>
              <th>@(nameof( Microsoft.EntityFrameworkCore.Metadata.IProperty.Name ))</th>
              <th>@(nameof( Microsoft.EntityFrameworkCore.Metadata.IProperty.IsNullable ))</th>
              <th>@(nameof( Microsoft.EntityFrameworkCore.Metadata.IProperty.DeclaringType ))</th>
              <th>@(nameof( Microsoft.EntityFrameworkCore.Metadata.IProperty.ClrType ))</th>
              <th>@(nameof( Microsoft.EntityFrameworkCore.Metadata.IProperty.ValueGenerated ))</th>
            </TableHeader>
            <TableRow>
              @{
                var current = context;
              }
              <td>@current.Name</td>
              <td>@current.IsNullable</td>
              <td>@current.DeclaringType</td>
              <td>@current.ClrType</td>
              <td>@current.ValueGenerated</td>
            </TableRow>
          </TableMy>
        </div>
        <div class="mb-3">
          References
          <TableMy TItem="Microsoft.EntityFrameworkCore.Metadata.IForeignKey" Items="selectedType.ForeignKeys" Compact Border>
            <TableHeader>
              <th>"Name From"</th>
              <th>"Keys"</th>
              <th>"Name To"</th>
            </TableHeader>
            <TableRow>
              @{
                var current = context;
              }
              <td>@current.DeclaringEntityType.Name</td>
              <td>@string.Join( ",", current.Properties.Select( p => $"{p.Name}" ) )</td>
              <td>@current.PrincipalEntityType.Name</td>
            </TableRow>
          </TableMy>
        </div>
        <div class="mb-3">
          References to this
          <TableMy TItem="Microsoft.EntityFrameworkCore.Metadata.IForeignKey" Items="selectedType.ReferencingForeignKeys" Compact Border>
            <TableHeader>
              <th>"Name From"</th>
              <th>"Name To"</th>
              <th>"To Keys"</th>
            </TableHeader>
            <TableRow>
              @{
                var current = context;
              }
              <td>@current.DeclaringEntityType.Name</td>
              <td>@current.PrincipalEntityType.Name</td>
              <td>@string.Join( ",", current.PrincipalKey.Properties.Select( p => $"{p.Name}" ) )</td>
            </TableRow>
          </TableMy>
        </div>
      }
    </div>

    @if ( alert != null )
    {
      <textarea class="form-control text-bg-warning" rows="5" @bind="@alert"></textarea>
    }

  </div>
</div>



