@using Toast.Server.Data
@using Toast.Server.Data.Models
@inject CommandService commandService;

<button class="btn btn-outline-info btn-sm" @onclick="@RefreshClients" title="Обновить"><i class="bi bi-arrow-clockwise"></i></button>
@if ( agentClients == null )
{
  <div>чтение клиентов ...</div>
}
else
{
  <div>Clients: @agentClients.Length.ToString("#,0")</div>
  <Toast.Server.Components.Shared.MyTable.TableMy TItem="AgentClientUI" Compact Items="agentClients" Border>
    <TableHeader>
      <th>Выбран</th>
      <th>@nameof( AgentClient.ClientId )</th>
      <th>@nameof( AgentClient.LastGet )</th>
      <th>@nameof( AgentClient.LastSet )</th>
      <th>:</th>
      <th>@nameof( AgentSession.RemoteIPAddress )</th>
      <th>@nameof( AgentSession.RemotePort )</th>
      <th>@nameof( AgentSession.LocalPort )</th>
      <th>User</th>
    </TableHeader>
    <TableRow>
      @{
        var agentUI = context;
        var selected = agentUI.Selected;
      }
      <td><input type="checkbox" class="form-check" checked="@selected" @onchange="@(async args => await OnSelectChanged( @agentUI, args ))"></td>
      <td @onclick="@(async args => await OnSelectChanged( @agentUI, null ))">@agentUI.Client.ClientId</td>
      <td>@agentUI.Client.LastGet</td>
      <td>@agentUI.Client.LastSet</td>
      <td>:</td>
      <td>@agentUI.LastSession?.RemoteIPAddress</td>
      <td>@agentUI.LastSession?.RemotePort</td>
      <td>@agentUI.LastSession?.LocalPort</td>
      <td>@agentUI.LastSession?.UserIdentityName</td>
    </TableRow>
  </Toast.Server.Components.Shared.MyTable.TableMy>
}

@code {

  [Parameter]
  public List<string> SelectedClients { get; set; } = [];

  // Шаблон имени строго: ИмяПараметра + Changed
  [Parameter]
  public EventCallback<List<string>> SelectedClientsChanged { get; set; }

  string[] GetSelectedClientIds => agentClients?.Where( c => c.Selected ).Select( c => c.Client.ClientId ).ToArray() ?? [];

  AgentClientUI[]? agentClients = null;
  string? loadClientsError = null;

  class AgentClientUI
  {
    public readonly AgentClient Client;
    public readonly AgentSession? LastSession;
    public readonly string LastGetStr;
    public readonly string LastSetStr;

    public AgentClientUI( AgentClient client, AgentSession? session )
    {
      Client = client;
      LastSession = session;
      LastGetStr = client.LastGet.ToString( "s" );
      LastSetStr = client.LastSet?.ToString( "s" ) ?? string.Empty;
    }

    public bool Selected { get; set; }
  }

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    commandService.ClientChangedEvent += OnClientChanged;
  }

  protected override async Task OnParametersSetAsync()
  {
    await base.OnParametersSetAsync();

    await RefreshClients();
  }

  async Task RefreshClients()
  {
    loadClientsError = null;
    try
    {
      var allClients = await commandService.GetAllAgentClients();
      var sessionDict = ( await commandService.GetSessions( allClients.Select( c => c.LastAgentSessionId ).ToArray() ) ).ToDictionary( s => s.Id );

      agentClients = allClients.Select( c => new AgentClientUI( c, sessionDict.TryGetValue(c.LastAgentSessionId, out var session) ? session : null ) { Selected = SelectedClients.Contains( c.ClientId ) } ).OrderBy( c => c.Selected ? 1 : 2 ).ThenByDescending( c => c.Client.LastSet ?? c.Client.LastGet ).ToArray();
    }
    catch ( Exception ex )
    {
      loadClientsError = $"{ex.Message}|{ex.InnerException?.Message}|{ex.InnerException?.InnerException?.Message}";

      agentClients = null;
    }
  }

  async Task OnSelectChanged( AgentClientUI clientUI, ChangeEventArgs? args )
  {
    clientUI.Selected = args != null && args.Value is bool _bool ? _bool : !clientUI.Selected;

    agentClients = agentClients?.OrderBy( c => c.Selected ? 1 : 2 ).ThenByDescending( c => c.Client.LastSet ?? c.Client.LastGet ).ToArray();

    if ( clientUI.Selected )
      await SelectedClientsChanged.InvokeAsync( SelectedClients = SelectedClients.Union( [clientUI.Client.ClientId] ).ToList() );
    else
      await SelectedClientsChanged.InvokeAsync( SelectedClients = SelectedClients.Except( [clientUI.Client.ClientId] ).ToList() );
  }

  void OnClientChanged( object? sender, string clientId )
  {
    _ = Task.Run( () => RefreshClients().ContinueWith( _ => InvokeAsync( StateHasChanged ) ).Wait() );
  }
}
