@using Toast.Core.Commands.CommandData
@using Toast.Server.Api
@using Toast.Server.Components.Pages.Commands
@using Toast.Server.Data
@using Toast.Server.Components.Shared.TabControl;
@inject CommandService commandService;

<h4>Send Commands</h4>

<div class="form-control">

  <div class="form-row">
    <SelectClients @bind-SelectedClients="@commandService.Current.SelectedCommandClients" />
  </div>

  <div class="form-row">
    <TabControl ActiveTabOnStart="@commandService.Current.SendCommand_SelectedTab" OnActiveTabChanged="@(tab => commandService.Current.SendCommand_SelectedTab = tab)">
      <Tab Name="@PageComponents.ShowMessage" Title="ShowMessage">
        <ShowMessageCommand @bind-Data="@commandService.Current.ShowMessageData">
          <button type="button" class="btn btn-primary btn-sm" disabled="@sending" onclick="@(async () => await SendCommand( commandService.Current.ShowMessageData ))">Send</button>
        </ShowMessageCommand>
      </Tab>
      <Tab Name="@PageComponents.ChangeSettings" Title="ChangeSettings">
        <ChangeSettingsCommand @bind-Data="@commandService.Current.ChangeSettingsData">
          <button type="button" class="btn btn-primary btn-sm" disabled="@sending" onclick="@(async () => await SendCommand( commandService.Current.ChangeSettingsData ))">Send</button>
        </ChangeSettingsCommand>
      </Tab>
    </TabControl>
  </div>

  @if ( alert != null )
  {
    <div class="form-row">
      <textarea class="form-control text-bg-warning" rows="@alertRows" @bind="@alert"></textarea>
    </div>
  }

</div>

@code {

  enum PageComponents
  {
    ShowMessage,
    ChangeSettings,
  }

  string? alert = null;
  int alertRows = 3;
  bool sending = false;

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    if ( commandService.Current.SendCommand_SelectedTab == null )
      commandService.Current.SendCommand_SelectedTab = PageComponents.ShowMessage;
  }

  async Task SendCommand( object? data )
  {
    await Task.CompletedTask;

    if ( @commandService.Current.SelectedCommandClients.Count == 0 )
    {
      ShowAlert( "Не выбраны клиенты!", 5, 1 );
      return;
    }

    alert = null;
    sending = true;
    StateHasChanged();

    if ( data is ShowMessageData showMessageData )
      _ = Task.Run( async () =>
      {
        try
        {
          var commands = await commandService.EnqueueCommandAsync( @commandService.Current.SelectedCommandClients, showMessageData.CloneEx() );

          ShowAlert( $"Команда успешно поставлена в очередь для {commands.Count}", 5, 1 );
        }
        catch ( Exception ex )
        {
          alert = $"Ошибка отправки команд: {ex}";
          alertRows = 5;
          StateHasChanged();
        }
        finally
        {
          sending = false;
          await InvokeAsync( StateHasChanged );
        }
      } );
  }

  void ShowAlert( string msg, int seconds = 5, int rows = 3 )
  {
    InvokeAsync( () =>
    {
      alert = msg;
      alertRows = rows;
      StateHasChanged();

      Task.Delay( TimeSpan.FromSeconds( seconds ) ).ContinueWith( _ =>
      {
        alert = null;
        _ = InvokeAsync( StateHasChanged );
      } );
    } );
  }
}
